@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font family */
body, p, li, a, button {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a192f;
}

::-webkit-scrollbar-thumb {
  background: #64748b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff5e00;
}
